<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{{ document.title|raw }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/home.css">
</head>
<body>
    {% if document.title %}<h1><span>{{ document.title|raw }}</span></h1>{% endif %}
    {% if document.description %}<p>{{ document.description }}</p>{% endif %}
    <ul>
<li>Test 1</li>
        <li>Test 2</li>
    </ul>
</body>
</html>
